body {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    width: 25%;
    height: 50%;
    border: 10px;
    border-color: black;
}

